body {
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.055);
  --checkbox-radius: 100px;
  --checkbox-size: 18px;
  --checklist-done-color: var(--color-base-60);
  --list-spacing: 0.175em;
}

input[type="checkbox"]:checked {
  border-width: 1px;
}

input[type="checkbox"] {
  border-width: 1.5px;
}

.is-mobile {
  --checkbox-size: 22px !important;
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
